{% extends 'base.html' %}
{% load static %}
{% block content %}
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image: url({% static "images/about_banner.jpg" %})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeIn">
            <h1>About Us</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div id="fh5co-about">
  <div class="container">
    <div class="about-content">
      <div class="row animate-box">
        <div class="col-md-6">
          <div class="desc">
            <h3>Company History</h3>
            <p>Founded in 2016, we have been dedicated to creating unique and contemporary objects that enhance living spaces. With a passion for experimentation and innovation, we constantly push the boundaries in design to create modern and minimalist art pieces that showcase the intersection of natural materials and contemporary art trends. Our goal is to create aesthetically pleasing pieces that complement any home.</p>
          </div>
          <div class="desc">
            <h3>Mission &amp; Vission</h3>
            <p>Our mission is to create high-quality handmade home decor from natural materials that reflect the beauty of simplicity and minimalism. We strive to provide our customers with unique and timeless pieces that enhance the look and feel of their homes, while also supporting sustainable and eco-friendly practices.</p>
            <p>Our vision is to become the recognizable brand of handmade home decor. We aim to inspire a lifestyle that is both aesthetically pleasing and environmentally conscious. Through innovation, creativity, and a commitment to quality, we seek to continuously improve our designs and processes, and to build lasting relationships with our customers based on trust and respect.</p>
          </div>
        </div>
        <div class="col-md-6">
          <img class="img-responsive" src={% static "images/about.jpg" %} alt="about">
        </div>
      </div>
    </div>
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <h2>Meet The Artist.</h2>
        <p>Hi! My name is Natalia. For seven years now, I have been passionate about creating objects that brings the contemporary touch to spaces. Experimenting, I create new modern forms at the junction of natural materials and minimalist art trends.</p>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12 col-sm-12 animate-box" data-animate-effect="fadeIn">
        <div class="fh5co-staff">
          <img src={% static "images/me_artist.jpg" %}>
          <h3>Me</h3>
          <strong class="role">Weaving enthusiast</strong>
          <ul class="fh5co-social-icons">
            <li><a href="https://instagram.com/windstoretextiles/"><i class="icon-instagram"></i></a></li>
            <li><a href="https://pinterest.com/windstoretextiles/"><i class="icon-pinterest"></i></a></li>
            <li><a href="https://inspireuplift.com/shop/windstoretextiles/"><i class="icon-facebook"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}