{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'includes/users_form.html' %}
        {% if next %}
        <div class="alert alert-danger">Access only for authorized users. Please log in.</div>
        {% endif %}
        <form method="post" action="{% url 'users:login' %}">
          {% csrf_token %}
          <div class="row form-group">
            <div class="col-md-6">
              {{ form.username|addattrs:'class:form-control,placeholder:Enter' }}
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-6">
              {{ form.password|addattrs:'class:form-control,placeholder:Enter' }}
            </div>
          </div>
          <p><a href="{% url 'users:password_reset_form' %}">Forgot password?</a></p>
          <div class="form-group">
            <input type="submit" value="Send" class="btn btn-primary">
          </div>
          <p><a href="{% url 'users:signup' %}">Don't have an account yet?</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}