{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'includes/users_form.html' %}
{% if validlink %}
					<form method="post">
						{% csrf_token %}
                        {% for field in form %}
                        <div class="row form-group">
							<div class="col-md-6">
                                {{ field|addattrs:'class:form-control,placeholder:Enter' }}
							</div>
						</div>
                        {% endfor %}
						<div class="form-group">
							<input type="submit" value="Send" class="btn btn-primary">
						</div>
					</form>
				</div>
            </div>
        </div>
    </div>
{% else %}
	<div id="fh5co-product">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Ой.</h2>
					<p>Ссылка сброса пароля содержит ошибку или устарела.</p>
				</div>
			</div>
        </div>
    </div>
{% endif %}
				</div>
            </div>
        </div>
    </div>
{% endblock %}