{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'includes/users_form.html' %}
					<form method="post" action="{% url 'users:password_reset_form' %}">
						{% csrf_token %}
                        <div class="row form-group">
							<div class="col-md-6">
                                {{ form.email|addattrs:'class:form-control,placeholder:Enter' }}
							</div>
						</div>
						<div class="form-group">
							<input type="submit" value="Send" class="btn btn-primary">
						</div>
					</form>
				</div>
            </div>
        </div>
    </div>
{% endblock %}