{% extends 'base.html' %}
{% load users_filters %}
{% block content %}
	<div id="fh5co-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12 animate-box">
					<h3>Sign Up</h3>
					<form method="post" action="{% url 'users:signup' %}">
						{% csrf_token %}
                        <div class="row form-group">
							<div class="col-md-6">
                                {{ form.first_name|addattrs:'class:form-control,placeholder:Your' }}
							</div>
							<div class="col-md-6">
								<!-- <label for="lname">Last Name</label> -->
                                {{ form.last_name|addattrs:'class:form-control,placeholder:Your' }}
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-6">
                                {{ form.username|addattrs:'class:form-control,placeholder:Enter' }}
							</div>
							<div class="col-md-6">
                                {{ form.email|addattrs:'class:form-control,placeholder:Enter' }}
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-6">
                                {{ form.password1|addattrs:'class:form-control,placeholder:Enter' }}
							</div>
							<div class="col-md-6">
                                {{ form.password2|addattrs:'class:form-control,placeholder:Enter' }}
							</div>
						</div>
						<div class="form-group">
							<input type="submit" value="Send" class="btn btn-primary">
						</div>

					</form>
				</div>
            </div>
        </div>
    </div>
{% endblock %}