{% extends "base.html" %}
{% load static %}
{% block content %}
	<div id="fh5co-testimonial" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Your shopping cart</h2>
                </div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <table class="col-md-12 col-sm-12 animate-box">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Remove</th>
                            <th>Unit price</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in cart %}
                        {% with product=item.product %}
                        <tr>
                            <td><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></td>
                            <td>{{ item.quantity }}</td>
                            <td><a href="{% url 'cart:remove' slug=product.slug %}"><i class="icon-trash"></i></a></td>
                            <td class="num">${{ item.price }}</td>
                            <td class="num">${{ item.total_price }}</td>
                        </tr>
                        {% endwith %}
                        {% endfor %}
                        <tr class="total">
                            <td>Total</td>
                            <td colspan="4"></td>
                            <td class="num">${{ cart.get_total_cart_price }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <p class="text-right">
                        <a href="{% url 'shop:index' %}" class="btn btn-primary btn-outline">Continue shopping</a>
                        <a href="{% url 'orders:create_order' %}" class="btn btn-primary btn-outline">Checkout</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}