{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="fh5co-about">
  <div class="container">
    <div class="about-content">
      <div class="row animate-box">
          <div class="desc">
            <img class="img-responsive" src="{{ article.image.url }}" alt="image" width=520>
            <h3>{{ article.title }}</h3>
            <p>{{ article.content|linebreaks }}</p>
          </div>
      </div>
    </div>
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <h2>Meet The Artist</h2>
        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12 col-sm-12 animate-box" data-animate-effect="fadeIn">
        <div class="fh5co-staff">
          <img src={% static "images/me_artist.jpg" %}>
          <h3>Me</h3>
          <strong class="role">Weaving Enthusiast</strong>
          <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
          <ul class="fh5co-social-icons">
            <li><a href="#"><i class="icon-instagram"></i></a></li>
            <li><a href="#"><i class="icon-pinterest"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}